<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login-page"> <div class="card login-card"> <h2>Registro</h2>

    <% if (error) { %>
        <p style="color:red; margin-bottom: 10px;"><%= error %></p>
    <% } %>

    <form method="POST" action="/register">
        <label>Nombre</label>
        <input class="input" name="name" required>

        <label>Email</label>
        <input class="input" name="email" required>

        <label>Password</label>
        <input class="input" name="password" type="password" required>

        <button class="btn btn-primary btn-full">Crear cuenta</button>
    </form>

    <div class="register-link-container">
        <p class="register-link">¿Ya tienes una cuenta?</p>
        <a href="/login" class="btn btn-secondary btn-full">Volver al Inicio</a>
    </div>

</div>

</body>
</html>